.badge {
  padding: .2rem 0.5rem;
  font-size: .875rem;
  color: white;
  margin: 0 .3rem 0 .3rem;

  &-info {
    background-color: #62c1df;
  }

  &-pill {
    border-radius: 50rem;
  }

  &:hover {
    cursor: pointer;
  }
}
